.footer {
  padding: 1em;
  width: 100%;
  color: #F6AA1C ;
  background-color: #0D0F10;
  justify-content: center;
  text-align: center;
  /* margin-top: auto;
  margin-bottom: 0%; */
  position:absolute;
  left:0px;
  bottom:0px;
  height:85px;
  width:100%;
  
}


