.prueba{
    color: #F6AA1C;
    text-align:center;
    font-size: 30px;
    margin-top: 10px;
}

.prueba:hover{
    text-decoration:underline;
}
.containerPadre{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #212529;
}
.containerGral{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    
}
.container{
    margin: 10px;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 560px;
    height: 300px;
 
}

.containerMini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 250px;
}