.todo{
  background-color:  #212529;
}
.fondo{
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titulo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #F6AA1C;
    margin-top: 20px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: none;
    gap: 2rem;
    margin: 0 auto;
}
.contenedorGral {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contenedorBooks {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      align-items: center;
      /* max-width: 120rem; */
      margin: 0 auto;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .buttonPerfil{
      margin-top: 10px;
      margin-left: 7px;
      padding: 4px;
      border-radius: 10px;
      background: #0D0F10; 
      font-size: 17px;
      color: #F6AA1C;
      
      
    }
    .buttonPerfil:hover{
      color: #f2931d;
      background-color: rgb(47, 47, 47);
    }